a:hover{
    text-decoration: none;
}
.info{
    overflow: hidden;
}
.info .media-body{
    padding-left: 10px;
}
.userPic{
    float: left;
    height: 40px;
    width: 40px;
}
body{
    background-color: #e2e1e4;
}
.bac{
    background-color: white;
    margin: 35px;
}
.part2 h4{
    text-align: center;
}
.pic{
    margin-bottom: 0px;
}
.desc{
    text-overflow: ellipsis;
    max-width: 350px;
    margin-bottom: 0px;
}