<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.getQuestion().getTitle()}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/CSS/profile.css">
    <link rel="stylesheet" href="/CSS/question.css">
    <script type="application/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="application/javascript" src="/js/community.js"></script>
    <script type="application/javascript" src="/bootstrap3/js/bootstrap.min.js"></script>
</head>
<body>

<div th:insert="~{insertSource::nav-header}"></div>

<div class="bac">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 part1">
                <div>
                    <h3><span th:text="${question.getQuestion().getTitle()}"></span></h3>
                    <p class="part1-1">
                        作者&#9;<a href="#" th:text="${question.getUser().getName()}"></a>
                        &nbsp;|&nbsp;发布时间:&nbsp;<span
                            th:text="${#dates.format(question.getQuestion().getGmt_modifid(),'yyyy-MM-dd')}"></span>
                        &nbsp;|&nbsp;阅读数:&nbsp;<span th:text="${question.getQuestion().getView_count()}"></span>
                    </p>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part1-2"
                         th:text="${question.getQuestion().getDescription()}"></div>
                    <div class="part1-3">
                        <a th:href="'/publish/'+${question.getQuestion().getId()}"
                           th:if="${session.user!=null&& session.user.getId()==question.getQuestion().getCreator()}"
                           href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span></a>
                        <a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true">评论</span></a>
                        <a href="#"><span class="glyphicon glyphicon-link" aria-hidden="true">相关链接</span></a>
                    </div>
                </div>
                <hr/>
                <div>
                    <div class="info" th:each="commentPoint:${comments}">
                        <a href="#">
                            <img class="userPic img-rounded" th:src="${commentPoint.getUser().getAvatar()}">
                            <p th:text="${commentPoint.getUser().getName()}"></p>
                        </a>
                        <div>
                            <p th:text="${commentPoint.getComment().getContent()}"></p>
                        </div>
                        <div>
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            <i class="glyphicon glyphicon-comment"></i>
                            <span th:text="${#dates.format(commentPoint.getComment().getGmtModifid(),'yyyy-MM-dd')}"></span>
                        </div>
                    </div>
                    <input type="hidden" id="question_id" th:value="${question.getQuestion().getId()}">
                    <textarea class="form-control" id="commentBody"></textarea>
                    <button type="button" class="btn btn-success btn-publish" onclick="postComment()">回复</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 part2">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>发起人</h4>
                    <div class="info">
                        <a href="#">
                            <img class="userPic img-rounded" th:src="${question.getUser().getAvatar()}">
                            <p th:text="${question.getUser().getName()}"></p>
                        </a>
                    </div>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part2">
                    <h4>相关话题</h4>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>